[2014-02-09 02:23] rubenve opened #1 "Check to see if e-mail is already registered is missing"
There is no check to see if an e-mail address is already registered. If the email is already registered the purchase will be linked to the guest account.
I think it's better to have this check and throw an error message telling the user that the e-mail address already exists.

[2014-10-29 22:09] sumobi opened #3 "Payments being marked as guest purchases"
There have been a couple of reports that guest purchases are occurring, mostly on PayPal transactions.

EDD Auto Register uses the same account creation process as EDD, which occurs directly after the payment is sent to PayPal, not after the customer has arrived back from PayPal.

The only way I can see that this is happening is if a returning customer (who has previously had an account created wi

[2015-03-11 20:55] pippinsplugins opened #5 "Create user accounts on edd_insert_payment"
Instead of using the purchase process, it'd be best to tie into the `edd_insert_payment` hook. Doing a simply check on the payment to see if a user account is connected. If no user ID is set, create one.

Note: this should also properly attach the customer account if necessary.

[2015-03-12 01:23] sumobi commented on #5
This will probably also fix: https://wordpress.org/support/topic/incompatibility-between-edd-braintree-and-edd-auto-register

[2015-03-12 01:29] sumobi opened #6 "EDD 2.0 Compatibility"
Auto Register needs to work, and be tested with all of the options under Misc settings. It was originally written for pre v2.0 and hasn't been updated in a while.

![screen shot 2015-03-11 at 8 28 47 pm](https://cloud.githubusercontent.com/assets/52581/6610437/41729a9e-c82d-11e4-9b94-a192e1daf1f3.png)

[2015-03-12 01:59] sumobi opened #7 "Opt-in account creation"
We discussed via an EDD meeting of adding an option to override the auto-register behaviour and add a checkbox to checkout. This would say "Do you want to create an account with these details?" or similar

[2015-03-12 02:00] sumobi opened #8 "Support Stripe Checkout"
We should support Stripe Checkout as requested here:
https://easydigitaldownloads.com/support/topic/creating-a-wordpress-user-account/#post-356787

[2015-03-12 02:02] sumobi opened #9 "Add activation script"
Add activation script from EDD boilerplate plugin

[2015-03-12 02:12] sumobi opened #10 "Auto detect users who are logged out"
If a logged out customer (guest) tries to purchase using their user account email it might be nice to prompt them that the email already exists, and show the password field. This way they can login and have the purchase attributed to their account. There might be a better way to do this.

[2015-03-12 03:23] sumobi commented on #6
Eg: https://easydigitaldownloads.com/support/topic/problem-with-edd-braintree-and-edd-auto-register/#post-451044

[2015-03-12 05:13] ghost1227 commented on #9
Done in 3983c2deeafc831b93d154239fdbe38f060f4123

[2015-03-15 18:18] ehrig opened #12 "Random plugin deactivation"
I am using EDD 2.3.2 and EDD auto register 1.2.1, and I am glad that such a plugin exists. But for some reason the plugin randomly deactivated itself. Is this a known issue? Any idea how I can get to the root of it?

[2015-03-30 08:11] Softid30 commented on #10
When I go to back-end and see one customer then choose see all products purchased by this customer is shows a list of all 3 products purchased but for 2 of them in the user column it says "guest". Any way to solve this at this moment.

[2015-04-08 20:25] pippinsplugins commented on #12
Reported again here: https://easydigitaldownloads.com/support/topic/auto-register-multisite-edd-upgrades-auto-register-deactivating/

[2015-04-08 20:25] pippinsplugins commented on #12
@ghost1227 Could you get this fixed?

[2015-04-24 20:13] amdrew opened #13 "Option to send login credentials in first purchase receipt"
Currently the login and password is sent in a separate email. It would be nice to have an option so this is included in the purchase receipt.

[2015-05-11 06:06] ghost1227 commented on #5
@pippinsplugins if you hook `edd_insert_payment` you're running it after the payment completes... wouldn't that make it impossible to error out if the email already exists?

[2015-05-11 14:05] pippinsplugins commented on #5
edd_insert_payment() runs before a payment is completed.

On Mon, May 11, 2015 at 1:06 AM, Ghost1227 <notifications@github.com> wrote:

[2015-07-05 14:36] danwan opened #14 "Not working with EDD 2.4.1"
Plugin worked perfectly before EDD 2.4.
But since 2.4 and now with 2.4.1 it doesn't create user accounts anymore.

Dan

[2015-07-05 19:44] pippinsplugins commented on #14
@ghost1227 How is your update coming along that should also resolve this issue?

[2015-07-25 09:01] bizzthemes commented on #14
Any update on this?

[2015-07-29 00:28] pippinsplugins commented on #14
I'm hoping to put some time on it this week.

[2015-07-29 03:09] mindctrl commented on #14
It's working in my tests in EDD 2.4.2 and Auto Register 1.2.1. Is there another conflict here?

[2015-07-29 14:16] pippinsplugins commented on #14
There are certain instances where it doesn't work. I know of a few of them and will be working through them later this week.

[2015-07-31 16:34] pippinsplugins commented on #10
This is resolved by setting the login / registration form options in the Misc tab.

[2015-07-31 16:34] #10 closed

[2015-08-04 04:11] sumobi opened #16 "Only auto register on specific downloads or downloads that belong to specific categories/tags"
Requested here:
https://wordpress.org/support/topic/select-product-or-category

[2015-08-04 04:19] sumobi commented on #14
Fixed via https://github.com/easydigitaldownloads/edd-auto-register/commit/3eed12cc33b4988baec3aa7c01b4f49908704dc1

[2015-08-04 04:19] #14 closed

[2015-08-04 04:19] sumobi commented on #12
Fixed via https://github.com/easydigitaldownloads/edd-auto-register/commit/3eed12cc33b4988baec3aa7c01b4f49908704dc1

[2015-08-04 04:19] #12 closed

[2015-08-04 04:19] sumobi commented on #9
https://github.com/easydigitaldownloads/edd-auto-register/commit/3eed12cc33b4988baec3aa7c01b4f49908704dc1

[2015-08-04 04:19] #9 closed

[2015-08-04 04:20] sumobi commented on #8
Fixed via https://github.com/easydigitaldownloads/edd-auto-register/commit/3eed12cc33b4988baec3aa7c01b4f49908704dc1

[2015-08-04 04:20] sumobi commented on #6
Fixed via https://github.com/easydigitaldownloads/edd-auto-register/commit/3eed12cc33b4988baec3aa7c01b4f49908704dc1

[2015-08-04 04:20] #6 closed

[2015-08-04 04:21] sumobi commented on #5
Fixed via https://github.com/easydigitaldownloads/edd-auto-register/commit/3eed12cc33b4988baec3aa7c01b4f49908704dc1

[2015-08-04 04:21] #5 closed

[2015-08-08 08:53] EngageWP opened #17 "Guest purchasers being forced to log in"
Just fielded a client issue where every buyer was being forced to log in, despite not having an account to log into. I tracked it down to the recent Auto Register update. The problem lies in the remove_register_form() method, where there aren't any checks to see if the login form should be used. Instead of first checking to see if guest purchasing has been disabled and that the user is logged out,

[2015-08-10 02:09] pippinsplugins commented on #17
@EngageWP what did you have the registration / login form options set to in Downloads > Settings > Misc?

[2015-08-10 02:52] EngageWP commented on #17
@pippinsplugins "Registration and Login Forms"

[2015-08-10 13:34] mindctrl commented on #17
Another customer reported this and I've confirmed it locally. It's forcing login when the forms are set to show but guest purchases are still allowed.

![image](https://cloud.githubusercontent.com/assets/1254870/9172629/e86c9606-3f42-11e5-95cb-9bdb41ba274f.png)

[2015-08-10 20:21] mindctrl commented on #8
Opening this back up after a customer [reported](https://secure.helpscout.net/conversation/111044104/14459/) that when using Buy Now with Stripe and Auto Register, the customers can't view the receipt. They get the "Sorry, trouble retrieving payment receipt" message.

This might be a core issue, and is possibly related to Free Downloads issue  https://github.com/easydigitaldownloads/edd-free-downl

[2015-08-10 21:53] pippinsplugins commented on #8
Can they view it once logged in?

[2015-08-10 21:54] #3 closed

[2015-08-11 20:31] mindctrl commented on #8
@pippinsplugins yes if they manually log in it shows in purchase history.

[2015-08-12 19:00] samikeijonen commented on #16
This is interesting. Just commenting so that I can follow up in here:)

[2015-08-14 16:12] mindctrl commented on #17
@EngageWP willing to submit a PR for this?

[2015-08-14 18:46] EngageWP commented on #17
@mindctrl Done

[2015-08-16 22:10] pippinsplugins commented on #17
@EngageWP Awesome, thanks! See my one comment on the PR then we can merge it in.

[2015-08-16 22:33] EngageWP commented on #17
@pippinsplugins Not a problem! Just pushed.

[2015-08-17 14:08] #17 closed

[2015-10-05 15:14] mindctrl commented on #13
@sumobi customer requested ability to disable the password being sent and instead send a link for customers to set the password, like WP core does now. Have any thoughts about that?

[2015-10-07 10:20] sumobi commented on #13
@mindctrl :+1: to that

[2015-10-09 23:57] cklosowski opened #19 "Compatiblity with user verification in EDD Core"
With the addition of the User Verification steps for guest purchases being connected to newly created accounts, auto register needs to only run when the payment being process isn't the only payment attached to the customer.

[2015-11-02 18:21] flowdee opened #21 "Disable auto register optionally for manual purchases"
Would be nice to disable the auto register when creating a manual payment

[2015-11-02 22:10] pippinsplugins commented on #21
Thank you for the suggestion!

[2015-12-20 23:44] grappler commented on #1
I just tested this today and when using an email that is already registered the purchase gets added to the user without the user needing to login.

I suppose this issue can be closed.

[2015-12-23 17:59] #1 closed

[2016-01-01 12:24] #16 closed

[2016-01-01 12:27] grappler commented on #21
@flowdee You can use the new filter to disable auto register whenever you want. https://github.com/easydigitaldownloads/edd-auto-register/pull/23

[2016-01-01 12:27] grappler commented on #13
I am working on this. How would you check if it the first purchase?

[2016-01-01 14:55] flowdee commented on #21
Thanks for the tip @grappler it's very useful.

Anyway it would be amazing to get a checkbox in order to enable/disable when creating a manual purchase.

[2016-01-01 14:57] pippinsplugins commented on #13
@grappler Instantiate [EDD_Customer](https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/master/includes/class-edd-customer.php) and then look to see if there's just one payment ID in the `payment_ids` property.

[2016-01-02 03:29] sumobi commented on #13
:+1: Will give it a test

[2016-01-19 19:11] #19 closed

[2016-01-19 19:18] cklosowski opened #25 "Make auto register able to be called without a purchase ID"
Right now, the auto register in `mabe_insert_user` requires a payment ID to be supplied, which causes a problem in the new recurring with gateway payment profiles.

Basically Payment Profiles have to be created after the user, so we can properly attach the customer ID from the gateway to the user meta, but currently the profile is created, and then auto register triggers on the `edd_insert_payment

[2016-01-19 19:26] pippinsplugins commented on #25
:+1:

[2016-01-20 05:15] #25 closed

[2016-02-06 10:38] grappler commented on #13
When is the next planned time to check the open PRs? :smile: :

[2016-02-06 15:22] pippinsplugins commented on #13
@grappler Whoops, sorry, missed this. Just left you a comment on the PR.

[2016-02-27 09:00] tsudarshan opened #27 "Auto-login on modal purchases with Stripe doesn't work"
After much research, I figured that when I use a shortcode such as:

`<?php echo do_shortcode('[purchase_link id="193" text="Purchase" style="button" color="blue" direct="true"]'); ?>`

and the site is configured with Stripe gateway to open a modal for instant checkout, the user creation works great. But, it doesn't auto-login the user upon successful purchase. It does redirect to the intended pag

[2016-02-29 14:51] pippinsplugins commented on #27
Thanks! We'll get this resolved and release an update soon.

[2016-03-05 14:09] tsudarshan commented on #27
Thanks, Pippin! Look forward to this fix in the next update :+1:

[2016-03-09 16:46] NateWr opened #28 "Overwrites payment user information with current user ID"
This is related to #21 and partially compensated for in the `edd_auto_register_disable` filter added in #23.

The plugin assumes the current user should be attached to the payment currently being made, which may not be the case for manual purchases or those created programmatically through some kind of third-party integration (my situation).

https://github.com/easydigitaldownloads/edd-auto-regist

[2016-03-10 16:04] #27 closed

[2016-03-10 16:09] pippinsplugins commented on #8
I've just tested this again and with the changes in #27, it all works properly.

[2016-03-10 16:09] #8 closed

[2016-03-10 16:18] #21 closed

[2016-03-10 16:18] pippinsplugins commented on #28
I think perhaps the better approach would be to add a check for Manual Purchases and then not use the current user ID if it's a manual purchase.

[2016-03-10 16:19] #28 closed

[2016-03-11 14:57] mindctrl opened #29 "User isn't logged in when using Free Downloads"
When completing a purchase with Free Downloads, the user account is created but the user is not logged in. Seems to have been this way for some time, as I tested previous versions of this and Free Downloads and none worked for me.

[2016-03-14 14:06] pippinsplugins commented on #29
Looks good. @mindctrl Please go ahead and deploy the update.

[2016-03-14 14:06] #29 closed

[2016-03-16 20:31] michaelbeil commented on #28
I noticed this bug on AWP the other day. This works great!

[2016-03-23 18:50] cklosowski opened #31 "Logged out users with existing email creates 2 customers in stripe"
Right now, wether it's recurring, or stripe or Auto Register...if a user is logged out and purchases with the same email address they have purchased with before...the transactions are not connected to the same Stripe customer, since the User ID is being retrieved too late for the customer ID to be determined.

This issue could be in Stripe or Recurring, but logging here as the initial functionalit

[2016-04-01 13:48] pippinsplugins commented on #31
I suspect this is the same thing that is causing some purchases with a subscription through EDD Recurring Payments to have the payment attributed to Guest. We've seen it numerous times in RCP and AffWP.

[2016-04-04 16:31] cklosowski commented on #31
Could not replicate locally.

@pippinsplugins, I made two purchases...
Active Addons:
- Auto Register
- Stripe
- Recurring

Steps I took
- Made purchase while logged out, with email address `cklosowski+ar31@gmail.com`
- User was created, attached to customer and logged in
- Logged out
- Made another purchase with `cklosowski+ar31@gmail.com`
- Was not logged in (as a note here)
- Purchase was attac

[2016-04-04 19:43] pippinsplugins commented on #31
What are your user registration settings set to in Misc?

[2016-06-03 17:10] pippinsplugins opened #32 "Accounts not created for buy now buttons"
If a site uses buy now buttons, accounts do not get created.

[2016-06-03 17:16] pippinsplugins commented on #32
Hmm, this is tricky. It can't really auto create the user because there is no email address, at least for PayPal standard.

[2016-07-27 21:08] mintplugins opened #33 "Make Auto Register work for CSV Payment Imports"
People who are migrating payments from 1 domain to another will likely want to have their users migrated as well. A good way to do this would be to have Auto Register create the WordPress users when the payments are created during the CSV import.

However, currently, it does not create the users upon CSV import because of these 2 things:

https://github.com/easydigitaldownloads/edd-auto-register/b

[2016-08-25 13:35] ericnicolaas opened #34 "Set the user ID on license keys generated by Software Licensing"
When someone makes a purchase and you have Software Licensing installed, the behaviour I expected was that their licenses are correctly associated with the new user ID that is generated with EDD Auto Register. It appears that is not the case.

On closer inspection, the SL function that generates a license is called on the `edd_complete_purchase` hook. Auto Register adds the user ID on the `edd_ins

[2016-08-25 14:27] pippinsplugins commented on #34
`edd_insert_payment` happens before `edd_complete_purchase`.

[2016-08-25 14:28] #34 closed

[2016-08-25 14:28] pippinsplugins commented on #34
PR looks good. Merging and will deploy an update.

[2016-08-26 10:48] sumobi opened #36 "Warning: Invalid argument supplied for foreach()"
[code]

Seems to be related to Software Licensing

Ticket: https://wordpress.org/support/topic/error-in-new-version-3

[2016-08-26 11:11] mindctrl commented on #36
Introduced here: https://github.com/easydigitaldownloads/edd-auto-register/pull/35

Code assumes the purchase has licenses. Should check that a license actually exists before the foreach.

[2016-08-26 14:32] pippinsplugins commented on #36
Doh, fixing now.

[2016-08-26 14:34] #36 closed

[2016-09-13 14:01] mintplugins opened #37 "Make Auto Register work for Manual Purchases"
When creating a Payment through Manual Purchases, no WordPress user is generated if no corresponding user exists.

Proposal: If they don't yet exist, make new WordPress user for customers created through Manual Purchases.

[2017-01-04 00:20] zackkatz opened #38 "Lacks a small icon for the WP Directory"
<img width="394" alt="screen shot 2017-01-03 at 5 20 07 pm" src="https://cloud.githubusercontent.com/assets/870979/21627956/f062dae4-d1d8-11e6-9375-095ff57e802c.png">

[2017-01-04 01:24] sumobi commented on #38
Thanks @zackkatz, I'll hit this one and all the EDD ones after AffiliateWP. Currently working my way through RCP. Turns out we have quite a few add-ons.

[2017-01-04 18:37] SDavisMedia opened #39 "Check customers by email before creating account"
I was able to have an account auto-created for me using an email address (at checkout) that is already a secondary email address for another customer record.

[2017-01-04 18:48] SDavisMedia opened #40 "user verification process doesn't move licenses to new user IDs"
@cklosowski you can describe this better than I can

[2017-01-04 18:50] cklosowski commented on #40
Actually going to move this over to the EDD SL repo. I think we should make it go there, sorry for the confusion. I didn't really think it all the way through.

[2017-01-04 18:50] #40 closed

[2017-03-03 08:22] flowdee commented on #13
This would be great!

[2017-03-03 09:42] grappler commented on #13
@flowdee Could you test the PR https://github.com/easydigitaldownloads/edd-auto-register/issues/24?

[2017-03-28 17:09] pippinsplugins opened #42 "Set log in URL to the page specified in EDD settings"
EDD core has a "Login redirect page" so we should set the log in URL to that page when it's present. This helps keep users out of the wp-admin, which site owners consistently worry about.

[2017-04-27 16:18] pippinsplugins opened #43 "Existing user on multisite not added to subsite"
When using Auto Register on multisite, an existing user that is found during purchase will not be added to the subsite that the purchase is made on.

Example:

- Two sites, site ID 1 and site ID 2
- User is registered on site ID 1
- User purchases something on site ID 2
- User should be registered on site ID 2 after purchase but is not

Reported: https://wordpress.org/support/topic/existing-user-o

[2017-04-27 16:28] #43 closed

[2017-08-30 16:17] SDavisMedia commented on #33
@pippinsplugins Auto Register is working for me on import but it seems to trigger the account verification process no matter what, sending the customer an email about verification. That seems odd. The payment being imported is a guest purchase from the old site.

[2017-08-30 16:59] pippinsplugins commented on #33
@SDavisMedia not intentional.

[2017-09-11 20:42] SDavisMedia opened #45 "Save address to user meta after checkout"
When manually registering at checkout with just EDD core (so no Auto Register), and an address is provided (like with taxes enabled), `_edd_user_address` is saved to the user meta.

When Auto Register is used to register that user, `_edd_user_address` is not created. It doesn't appear that the data is saved anywhere at all.

[2017-09-12 15:30] pippinsplugins commented on #45
@sunnyratilal could you tackle this?

[2017-09-18 10:12] sunnyratilal commented on #45
As per #33, this will need updating before it is merged.

I'll work on getting #33 refreshed first (there's a merge conflict) and then refresh this PR.

[2017-09-18 13:59] pippinsplugins commented on #45
@sunnyratilal PR looks good. Let us know when you're ready with #33 so we can get both merged.

[2017-09-18 16:02] SDavisMedia commented on #45
Tested and working for me as well.

[2017-09-19 14:18] pippinsplugins commented on #31
I believe this is resolved now.

@sunnyratilal could you please test to verify?

[2017-09-21 10:12] sunnyratilal commented on #31
Just tested and verified that it is indeed fixed.

[2017-12-01 20:42] mintplugins opened #47 "Grey out Guest Checkout setting with explanation about why it's disabled"
Currently, Guest Checkout mode is required if you have the Auto Register extension activated. You cannot check the box that says "Require Logins", it does not save.

Even though you have it checked, when you hit save, the page refreshes with the box being unchecked - and gives you no explanation of why. It looks like saving the setting is broken.

This goes for the "Show Register/Login Form" setti

[2018-01-15 17:18] brashrebel opened #48 "Add Danish translations"
PR coming with contribution from a community member.

[2018-02-14 16:48] mintplugins opened #50 "Change hook used for maybe_insert_user"
Auto register no longer registers users through Free Downloads. This is because Auto Register runs the maybe_insert_user function by hooking to the edd_insert_payment hook, which only runs during the edd_insert_payment function, which is a legacy function that Free Downloads no longer uses.

We should be able to fix this here in Auto Register by hooking to an existing payment in the `EDD_Payment::

[2018-02-14 17:37] SDavisMedia commented on #50
Definitely replicated on `master`. Working as expected for me on `issue/50`. :+1:

How are we using `edd_debug_log()` moving forward? I actually didn't even know about the new enhancement until a week or so ago. I see this PR uses it quite a bit in a way that would imply we'd be logging tons of stuff all over the ecosystem. I'm curious if there's a standard for its use or what.

[2018-02-14 20:44] mintplugins commented on #50
@SDavisMedia I just added a fix for non Free Downloads payments. Both are working for me here now. Can you test with both a Free Download and a normal purchase to make sure everything works as expected?

[2018-02-14 21:02] mintplugins commented on #50
P.S. I don't know if there is a standard for how to use edd_debug_log yet, but it's probably a good idea.

[2018-02-14 23:23] SDavisMedia commented on #50
@mintplugins yup, it's working for me now. Saw a debug log error earlier that I was gonna mention but it looks like you caught it. All is well on my end. 👍

[2018-02-16 17:47] mintplugins commented on #50
I changed the `isset` check to an `empty` check as per @pippinsplugins reivew on the PR and can confirm that it still works correctly for both FD and normal purchases. Thanks @SDavisMedia

[2018-02-16 21:05] mintplugins opened #52 "Recurring purchases are being prevented for new customers"
Because of the changes made in #50, Recurring purchases by non-logged-in customers are being prevented with this error message:

[code]

The problem there is that user accounts are automatically created using the payment information. But EDD Recurring prevents the payment unless a user account exists. We may need to add an exception to Auto Register for Recurring Payments.

[2018-02-16 22:59] mintplugins commented on #52
This will require some thorough testing:

Testing steps:
1. Purchase a product as a guest with Auto Register deactivated
2. Enable Auto Register, and purchase a recurring, licensed product
3. Make sure the auto-created account is pending verification and you don't get access to the first purchase.
4. Make sure the subscription was properly created.
5. Make sure the license has the user attached to

[2018-02-16 22:59] mintplugins commented on #52
@SDavisMedia Tagging you here for if you get a free moment to test - thanks! No pressure.

[2018-02-17 00:23] SDavisMedia commented on #52
Replicated the checkout error on `master`.

Confirmed the expected behavior for for the testing scenario above on `issue/52`. :+1:

[2018-02-17 00:40] mintplugins opened #54 "Fix Software Licensing update_meta"
The Software Licensing integration calls `update_post_meta` directly for EDD_License, which is not the correct way of dealing with license meta anymore. This should be changed from

`update_post_meta` to `$license->update_meta`

[2018-02-17 00:40] mintplugins commented on #54
Since some code is being refactored in #52, We should merge that before doing this.

[2018-02-17 00:43] mintplugins commented on #37
This was fixed here:
https://github.com/easydigitaldownloads/edd-manual-purchases/issues/62

[2018-02-19 21:10] pippinsplugins commented on #52
@mintplugins Chris had a few changes for the PR. Could you push those up?

[2018-02-26 13:51] Kubitomakita commented on #52
Is there a chance for the fix? All sales are blocked right now and I have some frustrated customers, not mentioning myself.

I tried to update the plugin with #53 branch but it didn't help. All I get is "You must be logged in to purchase a subscription". Can I downgrade Recurring Payments plugin or Software Licensing to get this working ASAP?

[2018-02-26 14:19] Kubitomakita commented on #52
The fix is not working in Multisite. I have two websites on the network - Store and Documentation site.

[2018-02-26 14:53] pippinsplugins commented on #52
Until we have this finished, please downgrade to the previous version.

On Mon, Feb 26, 2018 at 8:19 AM Kuba Mikita <notifications@github.com>
wrote:

[2018-02-26 14:54] Kubitomakita commented on #52
Unfortunately, downgrading doesn't help at all. Tried 3 last versions.

[2018-02-26 15:15] pippinsplugins commented on #52
Then you're facing a different problem than this. Can you please open a
support ticket so we can assist you?
https://easydigitaldownloads.com/support

On Mon, Feb 26, 2018 at 8:54 AM, Kuba Mikita <notifications@github.com>
wrote:

[2018-02-26 17:01] mintplugins commented on #54
Moving comments from @cklosowski here from #52 PR:

[code]

[2018-03-08 13:41] misulicus opened #55 "Use of edd_debug_log is making 2 entries on every page load."
having debug enabled on EDD you get an entry in the log for 2 instances on EACH page refresh so that can get you a pretty huge log.
The 2 lines below seem too DRASTIC and could be removed:

https://github.com/easydigitaldownloads/edd-auto-register/blob/master/edd-auto-register.php#L65
https://github.com/easydigitaldownloads/edd-auto-register/blob/master/edd-auto-register.php#L131

[2018-03-16 23:45] cklosowski commented on #55
Agreed, these should be put into a location where they are only logging when Auto Register starts to take action, not on every page load.

While it's useful to know when it starts, having it on every page load is just noise to make helpful logs get lost in.

[2018-03-27 21:15] pippinsplugins commented on #52
Another way to replicate this error:

1. Enable Auto Register
2. Enable Recurring Payments
3. Enable Stripe and Stripe Checkout option
4. Attempt to purchase a subscription with a new email while logged out

[2018-03-27 21:28] pippinsplugins commented on #52
Ignore the part about Stripe Checkout. This happens with regular Stripe too.

[2018-03-27 21:37] pippinsplugins commented on #50
Changes here caused https://github.com/easydigitaldownloads/edd-auto-register/issues/52.

We have to reassess this.

[2018-04-19 17:59] stevejburge commented on #52
Can confirm this problem with Stripe. It's the second time the problem has appeared for us, and it happens across multiple sites.

We've disabled Auto Register for now.

[2018-04-25 19:29] cklosowski opened #56 "Fatal errors when EDD isnt' active"
[code]

[2018-04-27 20:37] mintplugins commented on #52
Just re-tested these steps:

- Enable Auto Register
- Enable Recurring Payments
- Enable Stripe (normal mode and also tested with Stripe Checkout mode)
- Attempt to purchase a subscription with a new email while logged out
- Purchase successful and auto account registration also successfull

[2018-04-27 20:40] #52 closed

[2018-05-04 14:11] #55 closed

[2018-05-04 14:11] #56 closed

[2018-05-31 12:08] misulicus commented on #42
Had a new request for this workflow. Either a custom page like Pippin said or if not set send them to the account page for login and not to the default WordPress login page.
https://secure.helpscout.net/conversation/591607852/83288?folderId=180499

[2018-06-25 21:04] mintplugins commented on #50
Since #52 is now merged, I believe this can be closed. New users are created through Free Downloads in the latest `master`.

[2018-06-25 21:41] mintplugins commented on #54
I'm fairly sure we can remove all of the Software Licensing integration code here because of EDD 3.6 custom tabled. I tested auto registration with this code removed, and the user_id column is still filled in the EDD_Licenses table.

All it serves to do on 3.6 is add meta to the database that is legacy:
<img width="628" alt="screen shot 2018-06-25 at 5 28 05 pm" src="https://user-images.githubuser

[2018-06-26 16:58] mintplugins commented on #50
I discussed this with @cklosowski and we decided this issue can be closed now that #52 is tested, working, and merged.

To re-cap, here is a timeline of events:
- This issue was created and the PR was submitted, merged, and released in 1.3.10
- 1.3.10 caused problems with recurring
- The WP Plugin repo for Auto Register was rolled back from 1.3.10 to 1.3.9, a couple of users were affected
- Issue

[2018-06-26 16:58] #50 closed

[2018-07-13 17:33] cklosowski opened #60 "3.0 Compatibility: edd_debug_log needs to do an EDD version check"
With the move of EDD Core 3.0 moving to a hook that is later the definition of `edd_debug_log` in Auto Register has a `! function_exists` means that core has not registered the function yet, and as such EDD Core fatal errors trying to redefine it.

[2018-09-06 19:05] SDavisMedia opened #62 "Cannot save Checkout Fields Manager data as user meta with Auto Register activated"
## Bug Report
Auto Register and Checkout Fields Manager conflict in that Auto Register makes Checkout Fields Manager believe that a purchase is being made by a true guest, when in reality Auto Register is creating a user account... so it's not really a guest.

### Expected behavior
Given the above statement, Checkout Fields Manager should be able to save custom fields to EITHER user meta or paymen

[2018-09-06 21:49] cklosowski commented on #62
Initial looking over the code for Auto Register, the guest checkout filters are being run on both admin _and_ front end. I think initially we could try for the quick fix of only allowing these filters to apply when it's `! is_admin()`, since in reality the goal of Auto Register is to remove a set of inputs and items from the checkout since Auto Register will be automatically handling those during

[2018-10-25 20:20] hiddenpearls commented on #52
@cklosowski @pippinsplugins I am having the same issue. Not sure what is the main reason but appears to be conflict with Stripe.

1.3.10 is not pushed on wordpress.org?

[2018-10-25 20:38] cklosowski commented on #52
@hiddenpearls it appears it was tagged, and uploaded, but the stable version was never changed in the readme. I'll investigate to see what's going on.

[2018-10-25 20:39] cklosowski commented on #52
Keep in mind this is tagged for 1.3.11, so I"m guessing we had an issue in 1.3.10 that made it so we didn't tag it, but again I'll look into it.

[2018-10-26 20:49] cklosowski commented on #52
Yes, this is the current status:
[code]

[2018-10-26 20:50] cklosowski commented on #62
I'm punting this so we can look at getting 1.3.11 out soonish.

[2018-10-26 20:53] cklosowski commented on #52
@hiddenpearls "This" being issue #50

[2018-10-26 20:54] hiddenpearls opened #63 "Restrict product purchases only for new customers"
is it possible to restrict a discounted Product limited only to new Customers?

[2018-10-26 20:57] hiddenpearls commented on #52
@cklosowski Thanks!

I have submitted a support request to EDD support though.

[2018-10-26 20:58] cklosowski commented on #63
Not with auto register, this would require custom code, since processing the purchase would need to be done before determining the 'new' status of the user, the amount could change.

Using some custom JS when the email address field changes, you'd be able to do this, much like how taxes are recalculated when an address changes.

[2018-10-26 20:58] #63 closed

[2018-11-21 23:03] DrewAPicture opened #64 "Add a gitattributes file to clean up zip downloads"
We should add a gitattributes file to clean up zip downloads of this plugin. Right now all GitHub-specific files, the gitignore, and deploy.sh all make it in the zip.

[2018-11-21 23:05] DrewAPicture commented on #64
PR: #65

[2018-11-21 23:06] DrewAPicture commented on #64
My mistake, this is actually a public repo. All the better reason to do this :-)

[2018-11-25 22:44] #64 closed

[2019-01-05 11:35] misulicus commented on #60
@cklosowski postin here to not open another issue.
Someone reported he can't activate EDD after updating to 2.9.10

[code]

I get the same error locally if i try to activate EDD when auto register is enabled.

[2019-01-07 16:38] cklosowski commented on #60
@misulicus Ok I'll get this bumped up. in the mean time, can you deactivate Auto Register and then activate EDD, then re-actiavte auto register? The way this is written shouldn't be a problem. 2.9.10 and 2.9.9 didn't have an fundamental change in the way things are loaded here.

[2019-01-07 17:24] misulicus commented on #60
Deactivated Auto register -> Activating EDD -> Activating Auto Register works correctly.

[2019-03-21 00:28] #60 closed

[2019-03-21 17:53] cklosowski commented on #52
I retested the steps here: https://github.com/easydigitaldownloads/edd-auto-register/issues/52#issuecomment-366382902

Testing steps:
- [x] Purchase a product as a guest with Auto Register deactivated
- [x] Enable Auto Register, and purchase a recurring, licensed product
- [x] Make sure the auto-created account is pending verification and you don't get access to the first purchase.
- [x] Make sure

[2019-03-21 17:55] cklosowski commented on #52
All my above testing with with latest EDD, with Stripe on latest.

[2019-03-21 17:55] cklosowski commented on #52
And latest Free Downloads

[2019-05-20 09:38] polevaultweb opened #66 "Update plugin on wordpress.org"
The plugin at https://wordpress.org/plugins/edd-auto-register/ is a version behind, please can you release v1.3.10

[2019-05-20 13:18] cklosowski commented on #66
@polevaultweb We're actually waiting on a final approval from internal to release it. Last time we released some of this code we had some issues and had to rollback.

We've refactored it slightly and have it running on the EDD site. I suspect we'll release it in the next week or two.

[2019-05-20 13:18] #66 closed

[2019-05-20 13:19] polevaultweb commented on #66
Thanks @cklosowski 👍

[2019-08-27 08:06] Pratik-Jain12 opened #67 "You must be logged in to purchase a subscription - EDD Recurring Payment Issue"
Hi,

I have faced some strange issue with EDD Auto Register and EDD Recurring Payment.

One of our customer is getting this error while purchasing any subscription product. Error is "You must be logged in to purchase a subscription".

## Bug Report
### Expected behavior
Error should not come when EDD Auto Register plugin is active.

### I have debug the issue in code and below is my details.
The i

[2019-09-02 09:06] Pratik-Jain12 commented on #67
**I have contacted to EDD team about this and below is their response.**

No. With Recurring Payments, you can not purchase for an existing account unless you are logged into it first.

This is because any new recurring purchase resets the default credit card to the newest credit card.

If I could purchase for your account while being logged out, that would mean that I could use your email address

[2019-09-02 09:06] #67 closed

[2019-09-26 15:18] dgoldak commented on #47
+1 for this feature. Recent ticket raised confusion about Guest Checkout while using Auto Register.
https://secure.helpscout.net/conversation/963850925/132464?folderId=1847242

If nothing changes, we should at least gray out Guest Checkout since it's not currently utilized while Auto Register is enabled.

[2019-10-04 21:26] kerijacoby opened #68 "Updating EDD core with Auto Register active generates error"
## Bug Report
### Expected behavior
When EDD core is updated with Auto Register activated the plugin should update without errors or warning.

### Actual behavior
When updating the following error is displayed:
![Screen Shot 2019-10-03 at 5 30 44 AM](https://user-images.githubusercontent.com/30249621/66240773-3d1f8d80-e6c3-11e9-920d-f2984bac199f.png)

### Steps to reproduce the behavior
Needs repl

[2019-10-06 15:33] pippinsplugins commented on #68
This happens when the debug file isn't writable on the server. EDD core handles this gracefully but Auto Register doesn't.

We adding error logging for Auto Register before debug logging was added to EDD core (if my memory serves). Core has had debug logging for long enough now, however, that I feel we can remove the problematic error logging here entirely.

[2019-10-09 17:15] #68 closed

[2019-10-22 18:49] pippinsplugins opened #70 "Uncaught Error: Call to undefined function edd_debug_log()"
We have had two separate reports of this fatal error since shipping 1.3.12:

An error of type E_ERROR was caused in line 108 of the file public_html/wp-content/plugins/edd-auto-register/edd-auto-register.php. Error message: Uncaught Error: Call to undefined function edd_debug_log() in public_html/wp-content/plugins/edd-auto-register/edd-auto-register.php:108

I believe this only happens during the

[2019-10-22 18:53] #70 closed

[2019-10-30 07:42] haziqmus opened #72 "Can you provide a filter example of how to modify the default role of the user when they are created?"
Can you provide a filter example of how to modify the default role of the user when they are created?

[2019-10-30 16:41] mintplugins commented on #72
@haziqmus You can find all of the available filters in this plugin by searching for "apply_filters" on the repo:

https://github.com/easydigitaldownloads/edd-auto-register/search?q=apply_filters&unscoped_q=apply_filters

None of those filters are useful for your request here. However, auto register uses the WordPress default role setting here:
https://github.com/easydigitaldownloads/edd-auto-regis

[2019-10-30 16:41] #72 closed

[2019-11-01 20:14] dgoldak opened #73 "Ability to edit email sent to new users"
## Enhancement Request
### Explain your enhancement
Add ability to customize email that is sent out.

A possible alternative might be to use the default WordPress email instead of our own.

### Justification or use case
Other EDD emails can be edited. Also there have been several requests for this functionality in the EDD Support queue.

https://secure.helpscout.net/conversation/869615074/122127/

[2020-01-10 23:14] dgoldak commented on #62
Customer running into this bug:
https://secure.helpscout.net/conversation/1050201518/141690?folderId=1847242

[2020-01-12 22:13] Shinckey opened #74 "Disable auto register for specific product"
## Bug Report

Hello, I want use Auto register only for specific product.
For example I want it for online courses, but not for vouchers.

I tried your code here:
https://github.com/easydigitaldownloads/edd-auto-register/pull/23/commits/0c2dc855b93ae6dbbc038c14d296c1e81da54f1e
But it doesnt work. EDD support wrote me:"Unfortunately we discovered that code no longer works and there is not a simple

[2020-01-13 18:59] dgoldak opened #75 "Free Download's "Bypass Auto Registration" setting not working"
## Bug Report
### Expected behavior
When `Bypass Auto Registration` is enabled, Free Downloads customers should not get registered.

### Actual behavior
Free Downloads customers get registered despite `Bypass Auto Registration` being enabled.

It appears to have stopped working somewhere between 1.3.10 and 1.3.13.

### Steps to reproduce the behavior
1) Enable `Bypass Auto Registration` in the Fre

[2020-01-16 22:53] dgoldak commented on #75
It appears this is the issue that broke the setting: https://github.com/easydigitaldownloads/edd-auto-register/issues/43

[2020-01-30 11:29] sadmansh opened #76 "How to call a function to create a user programmatically?"
Is there a function I can call that creates a user and emails them their password?

[2020-02-20 03:12] cklosowski commented on #76
EDD Auto Register just uses the normal WordPress methods to create users:
https://developer.wordpress.org/reference/functions/wp_create_user/

For future requests like this, please use the support form as GitHub is only used for development tracking at this time:
https://easydigitaldownloads.com/support.

[2020-02-20 03:12] #76 closed

[2020-05-28 19:57] dgoldak opened #77 "Checking out via Stripe does not auto login user"
## Bug Report
### Expected behavior
Customer should be logged in automatically post purchase.

### Actual behavior
Customer is not automatically logged post purchase when checking out with Stripe. PayPal works as expected.

### Steps to reproduce the behavior
1) Enable auto register
2) Select Stripe (Card Payment) upon checkout
3) After successful checkout, you should be logged in to WordPress, au

[2020-07-02 19:24] shaynesanderson commented on #77
Adding to this. Issue does exist with Stripe + Auto Register in that after successful purchase the user is not automatically logged in. This happens with typical non-recurring "downloads" purchases.

If the download is "recurring" (using Recurring Payments), then the user is logged in after a successful transaction using  Stripe.

[2020-07-31 15:36] spencerfinnell commented on #77
I can't transfer this issue, but we can deal with this in the Stripe repository. cc @cklosowski Can you transfer this?

By default this extension looks for one of a few actions being run to trigger the login:

https://github.com/easydigitaldownloads/edd-auto-register/blob/b47cd0d0654c45a021a1f3c2452a4ff19b7f1da5/edd-auto-register.php#L418-L419

EDD Stripe bypasses these core actions on Checkout so

[2020-08-04 17:00] LisaCee opened #78 "Free Purchase Does Not Auto Login User"
## Bug Report
### Expected behavior
When a new user "purchases" a free item with edd-auto-register enabled, I expect to have the new user logged in automatically.

### Actual behavior
User is created but not logged in.

### Steps to reproduce the behavior
1) "Purchase" a free item with edd-auto-register enabled
2) See that user is not logged in

### Information:
PHP Version:
7.3
EDD Auto Register

[2020-08-04 17:24] spencerfinnell commented on #78
Previously https://github.com/easydigitaldownloads/edd-auto-register/issues/29

[2020-08-10 17:09] spencerfinnell commented on #78
@LisaCee I just tested this and wasn't able to reproduce the original report in `master` or `release/3.0` of EDD. Are you still able to reproduce this consistently?

[2020-08-10 17:45] LisaCee commented on #78
I am still seeing it.  @robincornett will you give this a look?

[2020-08-10 18:00] LisaCee commented on #78
All Plugins
- edd
- edd-stripe
- edd-auto register
- regenerate thumbnails
- user switching

I disabled the last two and I'm still not seeing the user being logged in.

If I disable edd-stripe auto login works.

[2020-10-01 14:30] dgoldak commented on #42
There have been a number of requests for this. We have to send them to the library but it would be great if it's was a setting.

http://library.easydigitaldownloads.com/extensions/auto-register/change-login-link.html

https://secure.helpscout.net/conversation/1297068941/167026

[2020-10-14 15:41] mihaijoldis opened #79 "Create its own section under Extensions instead of a "Main" tab."
We should create its own section under Extensions. At the moment its a "Main" tab.

[2020-10-14 16:11] shaynesanderson opened #80 "New user email not sent when Auto Register active"
## Bug Report
### Expected behavior
When using the [edd_register] shortcode, and filling out the registration form a new user email should be sent to the user after a successful registration.

### Actual behavior
When Auto Register is activated, completing a registration on the form produced by [edd_register], no new user email is sent.

### Steps to reproduce the behavior
1) Place [edd_register]

[2020-10-15 12:56] #48 closed

[2020-10-15 13:06] ashleyfae commented on #75
I think this caused it: https://github.com/easydigitaldownloads/edd-auto-register/issues/50 The hook was changed from `edd_insert_payment` to `edd_payment_saved`. The Free Downloads plugin is unhooking `edd_insert_payment`, which is no longer used.

Will confirm, but this might need to be fixed in Free Downloads.

[2020-10-15 13:11] ashleyfae commented on #75
Closing in favour of https://github.com/easydigitaldownloads/edd-free-downloads/issues/330 in the Free Downloads repo.

[2020-10-15 13:11] #75 closed

[2020-10-15 13:46] ashleyfae commented on #80
Probably due to this running all the time:

[code]

should probably only remove that just prior to EDD Auto Register creating a user.

[2020-10-16 13:26] #79 closed

[2020-10-16 13:47] #80 closed

[2021-02-02 13:52] mihaijoldis commented on #47
First time I see this issue but +25 for it. I had plenty of tickets with users complaining that the Guest Checkout setting is broken and its not saving.
Most recent one https://secure.helpscout.net/conversation/1413766505/176545/

[2021-03-05 18:13] shaynesanderson commented on #39
I'm adding to this as it's a similar issue and possibly related.

When using Auto Register with Paypal Standard and an existing email address during checkout, the transaction completes with (what appears to be) no check against the email address. It just adds to order to the customer record of the email address entered at checkout, which is already tied to an existing account.

[2021-08-30 17:18] shaynesanderson opened #84 "Create new users only for successful transactions"
## Enhancement Request
Only create new users when an order is successful and marked "complete". If an order is in "pending" status a new user account is still created and can be confusing for the user.

[2022-02-04 22:17] mihaijoldis commented on #47
I wanted to bump this as it should reduce quite a few support tickets.
Along with the gues checkout not saving we should also adjust the Show Register / Login form too as that will not let you select anything other than Login form only or None when AR is activated.

We could grey out the `Require Login` setting and add a description explaining why and also in the `Show Register / Login` we could e

[2022-02-10 09:29] mihaijoldis commented on #47
Just had a new customer confused about this

[2022-02-16 20:13] robincornett commented on #37
Reopening as we need to address this for EDD 3.0, outside of the manual purchases extension. In 3.0, manual orders are added with the `edd_add_manual_order` function on the `edd_add_order` hook. Unfortunately, there are no hooks within that function--need to see if we need to adjust something in core, or if there is a different moment in the process where auto register can hook in.

[2022-02-17 18:22] robincornett commented on #62
Closing as we've fixed it in the Checkout Fields Manager extension: https://github.com/awesomemotive/edd-checkout-fields/issues/204, version 2.1.9 (released October 2021).

[2022-02-17 18:22] #62 closed

[2022-02-17 18:28] robincornett opened #90 "Implement extension loader"
## Enhancement Request
### Explain your enhancement (please be detailed)
We should implement EDD's extension loader.

### Justification or use case
We can enforce minimum versions of PHP, WordPress, and EDD (the first two are handled already by the repo but it would be great to make the implementation consistent for all of our extensions).

Additionally, we can set the WP minimum to match the EDD

[2022-03-04 03:53] #90 closed

[2022-03-24 15:03] robincornett opened #94 "EDD 3.0 - users are not auto registered when checking out with PayPal Commerce"
## Bug Report
### Expected behavior
When I have auto register active and am checking out with PayPal Commerce, I expect the user to automatically be logged in.

### Actual behavior
The user is created, but not logged in.

### Steps to reproduce the behavior
1. Activate Auto Register on a 3.0 site.
2. Check out as a new/guest user with PayPal Commerce.
3. The user is created, but not logged in.

##

[2022-03-31 11:10] fernandopro commented on #84
There will be people who click on the button but then do not complete the payment, so it does not interest that the user is believed until the purchase is actually completed.

I look forward to this update in the near future. Thank you

[2022-04-12 20:00] robincornett commented on #94
Moving this to the core EDD repository to implement this the same way Stripe does, to be consistent.

[2022-04-13 22:43] #47 closed

[2022-04-13 22:48] #13 closed

[2022-04-13 22:50] #37 closed

[2022-04-14 11:27] robincornett commented on #45
This issue should have been reopened as #87 was a fresh start on implementing. Reopening as that needs to be finalized.

[2022-04-14 11:28] robincornett commented on #33
Another one that I thought had already been reopened as the work was started fresh in #86.

[2022-04-18 16:41] cklosowski commented on #31
We noticed that this never had a reference to a code fix. We'll re-open it now for tracking, but since we don't know how it was 'fixed' we'll monitor.

[2022-04-18 19:02] robincornett commented on #74
Confirmed the code example does not work. The example is hooked into `init`, so runs after the auto register filter. However, the auto register filter is run so early (on `plugins_loaded`) that I'm finding it's impossible to modify the filter conditionally.

I think it would be worth registering a new filter, something like `edd_auto_register_can_create_user`, and extract all of the boolean logic

[2022-04-18 20:10] #74 closed

[2022-04-18 23:10] #33 closed

[2022-04-18 23:17] #45 closed

[2022-04-21 10:39] mihaijoldis opened #97 "Deprecated notice in PHP 8+"
On the latest release, 1.4:

`PHP Deprecated:  Required parameter $payment follows optional parameter $payment_id in D:\MAMP\htdocs\edd\wp-content\plugins\edd-auto-register\edd-auto-register.php on line 360
`

[2022-04-22 14:11] robincornett opened #100 "Deprecating purchase data in favor of payment object has broken Recurring's integration"
## Bug Report
### Expected behavior
I expect to be able to complete a purchase with Auto Register enabled and EDD Recurring.

### Actual behavior
A new user is always presented with the message: "You must be logged in to purchase a subscription".

### Steps to reproduce the behavior
1. Enable Auto Register and Recurring.
2. Attempt to purchase a recurring product as a new user.

### Information:
P

[2022-04-22 16:34] #100 closed

[2022-04-22 16:47] #97 closed

[2022-05-04 13:39] #38 closed

[2022-05-05 19:59] mihaijoldis opened #103 "Undefined notice when viwing Invoices section (perhaps others too)"
When going to the Payments > Invoices page the notice below is being logged:

`[05-May-2022 19:58:33 UTC] PHP Notice:  Undefined index: section in D:\MAMP\htdocs\edd\wp-content\plugins\edd-auto-register\edd-auto-register.php on line 586`

master branch of AR and latest EDD

[2022-05-09 12:32] robincornett opened #104 "Undefined variable on multisite"
## Bug Report
### Expected behavior
When I am logged into multisite and make a purchase, I expect to not get a notice.

### Actual behavior
The code to check for an existing user uses a function to get the user object, but doesn't assign it to the `$user` variable that multisite uses: https://github.com/awesomemotive/edd-auto-register/blob/master/edd-auto-register.php#L487

### Steps to reproduce

[2022-05-12 14:33] #104 closed

[2022-05-12 14:37] #103 closed

[2022-05-12 15:02] #84 closed

[2022-05-20 14:26] robincornett opened #108 "EDD 3.0 - address should not be added to user meta"
## Bug Report
### Expected behavior
When I use Auto Register to purchase something in EDD 3.0, I expect it to work without error.

### Actual behavior
I get the following PHP Notice:
[code]
It also seems like somehow the debugging is causing an infinite loop, maybe, because then I get a fatal error and white screen ("PHP Fatal error:  Allowed memory size of 268435456 bytes exhausted").

### Steps

[2022-06-21 15:49] robincornett opened #111 "Email body filter parameters may have changed in 1.4"
## Bug Report
### Expected behavior
If a store has filtered the email body per our original example, which included the password in plain text, I expect that password in the email to still work.

### Actual behavior
For stores who had added a filter on the Auto Register email body, the password parameter in 1.4 seems to be different than it was in 1.3 (hashed vs. plain text). In 1.4, the password

[2022-06-22 10:51] mihaijoldis commented on #111
This would resolve the issue for users that are still using the old snippet but perhaps we should look at not allowing this in the future.

However, it was brought up to me by a user after asking them to use the new way (with the reset link) that they don't want the users to see the WordPress back end at all. I know there are other customers that don't want that too so perhaps at some point we sho

[2022-06-23 10:53] #108 closed

[2022-06-23 10:54] #111 closed

[2022-07-01 18:42] robincornett opened #114 ""Only register users for successful orders" setting does not work for recurring purchases with offsite payments"
## Bug Report
### Expected behavior
When I enable the "Only register users for successful orders" setting, I expect for users to still be able to purchase subscriptions.

### Actual behavior
If they use an offsite gateway such as PayPal, this setting prevents them being able to purchase a subscription.

### Steps to reproduce the behavior
1. Enable the "Only register users for successful orders" s

[2022-07-01 18:45] robincornett opened #115 "Maybe revert deprecating the email_notifications method"
In version 1.4, we deprecated the `email_notifications` method in the main class, in favor of establishing an emails class and calling the `email_notifications` method there. However, at least the Free Downloads extension expects to be able to unhook Auto Register's `email_notifications` method, and with the location change, it cannot.

I think we need to change the `add_action` call in Auto Regis

[2022-08-13 23:49] zackkatz opened #117 "Auto-Register prevents Stripe checkout on EDD 3.0"
I just sent in a bug report with a bunch of details; please refer there for more info and a full system report.

**With auto-register de-activated, and in EDD 2.0 with the same plugins enabled, things work as expected.**

## With Auto-Register active:

1. Try to check out and an error shows up: `An error occurred, but your payment may have gone through. Please contact the site administrator.`
  -

[2022-08-16 06:48] cklosowski commented on #117
@zackkatz I noticed your not on the latest Stripe:
Easy Digital Downloads - Stripe Payment Gateway: 2.8.1
https://sandhillsdev.com/

Our latest is 2.8.11. Can you please try updating Stripe possibly by manually updating it after downloading it from [your account](https://easydigitaldownloads.com/your-account/your-downloads)?

[2022-08-16 09:56] zackkatz commented on #117
@cklosowski I meant to update this ticket yesterday; upgrading Stripe fixed the issue. The update wasn’t appearing for some reason. Thanks!

[2022-08-16 09:56] #117 closed

[2022-08-18 21:09] dgoldak opened #118 "{password_link} is not working in EDD 3"
## Bug Report
### Expected behavior
{password_link} will provide a reset link in the initial purchase receipt.

### Actual behavior
{password_link} is not presenting the reset link in EDD 3.

### Steps to reproduce the behavior
1) Add {password_link} to the receipt template
2) Check "Disable User Email" in the Auto register settings
3) Purchase as a new user.

### Information:
PHP Version: 7.4

ED

[2022-08-26 13:46] dgoldak opened #119 "When logged in, updating email address on checkout creates a new account"
## Bug Report
### Expected behavior
If updating email address on checkout, new email should should be added to the current customer and no new user account should be created.

### Actual behavior
If email address is changed on checkout a new WP user account and customer is created.

### Steps to reproduce the behavior
1) Be logged in as an existing customer
2) Add a recurring product (recurring ma

[2022-08-26 13:56] dgoldak commented on #119
This doesn't happen with a one time purchase so it requires Recurring Payments + Auto Register.

I downgraded Recurring as far back as 2.10.6 and still experience this issue with Auto Register 1.4.3.

[2022-08-26 19:19] cklosowski commented on #119
We've identified that the new customer is coming from a combination of Stripe + EDD and has nothing to do with Auto Register.

[2022-08-26 19:26] #115 closed

[2022-08-26 19:27] #114 closed

[2022-08-27 04:48] #118 closed

[2022-08-31 23:45] #119 closed

[2022-09-12 22:10] dgoldak opened #124 "Free Downloads + Require Verification does not auto login customer"
## Bug Report
### Expected behavior
Free Downloads + Require Verification should login user upon verifying email address.

### Actual behavior
User is not logged in automatically

### Steps to reproduce the behavior
1) "Purchase" a free download with Free Downloads + Require email verification enabled
2) Click email verification link, to "complete purchase"
3) You should be logged in.

### Informa

[2022-09-14 15:56] dgoldak commented on #124
Noting how this affects customer's business:

[2022-09-16 12:35] cklosowski commented on #124
@dgoldak Can you work with the customer to see if this single line change fixes things for them?

[2022-10-05 16:01] mihaijoldis opened #126 "Stop execution of code if account can not be created"
So I found this after testing for a different issue and adding some logging. I am testing a purchase while not logged in with PayPal, but in the settings I checked the "Limit Auto Register" option.

After clicking the Purchase button with PayPal I chose to close the modal window so basically the process stopped there.
However AR executed the following:
`create_user_and_add_to_order()` as expected

[2022-10-27 17:32] mihaijoldis opened #127 "Limit Auto Register does not create an account with on site gateway (Stripe)"
## Bug Report
### Expected behavior
Making a purchase via on site gateway like Stripe and Limit Auto Register enabled to correctly create an account

### Actual behavior
Purchase completes but no account is created.

### Steps to reproduce the behavior
1) Enable Limit Auto Register and make a purchase with Stripe

### Information:
PHP Version: 7+

EDD Auto Register Version (or branch): master

EDD